body {
    font-family: 'Poppins', sans-serif;
    max-width:1280px; /*separa o texto da borda da tela*/
    margin: 0 auto;
    background-color: #5e5e5bad;
    color: #333333;

}

body.modo-escuro {
    background-color: #212121;
}



/*Testando a Tag de comentarios*/

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-bottom: 70px;
    
    
}

header .logo,
header .imagem-botao {
    width:40px;

}

header #botao-alterar-tema {
    border: none;
    background: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .listagem-pokemon
 {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

main {
  
    padding: 25px;
    margin-bottom: 40px;

}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
   
   
    
}

main .cartao-pokemon {
    background-color: #c2dbee;
    width: 190px;
    display: flex; /*Coloco tudo em linha*/
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
   
}

main .cartao-pokemon:hover {
    transform: scale(1.05);
    background-color: #96d9d6;
    transition: transform .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
}

.informacoes {
    display: flex;
    border-radius: 17px ;
    padding: 1px;
    color:#f5f5f5;
    background-color:#333333;
    box-shadow: rgba(3, 117, 248, 0.3) 0px 0px 0px 3px;
    justify-content: space-between;
    margin-top: -5px;
    

}

main .cartao-pokemon .informacoes .numero {
    border: solid 1px #212121;
    background-color: #212121;
    padding: 3px;
    border-radius: 20px;
    margin-left: 9px;
}

.mode-escuro .cartao-pokemon {
    background-color:#a8a8a8;

}


main .cartao-pokemon .informacoes span {
    text-transform:uppercase;
   font-size: 16px;
    padding: 5px;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 7px ;
    

}

main .cartao-pokemon .tipos {
   
    display: flex;
    gap: 10px;
    margin-bottom: 5px;

}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius:99px;

}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color:#df67ddfb ;

}

.fogo {
    background-color: #ee8130;
}

.agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #a6b91a ;
}

main .descricao {
    
    max-height: 80px; /*Determina o tamanho maximo do cartão*/
    overflow-y:scroll; /*esconde o resto da frase para colocar o scrool*/
    font-size: 14px;
    padding: 10px;
    text-align:center;
    background-color: #d5e7f5;
    border: solid #212121 1px;
    border-radius: 7px;
    
   
}


